import React from 'react';
import { connect } from 'dva';

function {{componentName}}(props) {
  return (
    <div>Route Component: '{{componentName}}'</div>
  );
}

function mapStateToProps(state) {
  return {};
}

export default connect(mapStateToProps)({{componentName}});
